h1 {
  text-align: center;
  padding: 15px;
  font-size: 40px;
  -webkit-text-stroke: 2px rgb(2, 2, 2);
  font-family: Arial, sans-serif;
  color: #080808;
}

h2 {
  text-align: center;
  padding: 15px;
  font-size: 40px;
  -webkit-text-stroke: 2px rgb(2, 2, 2);
  font-family: Arial, sans-serif;
  color: #080808;
}

h3 {
  padding: 15px;
  -webkit-text-stroke: 2px rgb(2, 2, 2);
  font-family: Arial, sans-serif;
}
imagen {
  justify-content: center;
  justify-items: center;
}

p {
  padding: 15px;
}

body {
  background-color: rgb(255, 255, 255);
}
